@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
@font-face {
  font-family: 'walrus';
  src: url("../fonts/walrus.eot?-be8axl");
  src: url("../fonts/walrus.eot?#iefix-be8axl") format("embedded-opentype"), url("../fonts/walrus.woff?-be8axl") format("woff"), url("../fonts/walrus.ttf?-be8axl") format("truetype"), url("../fonts/walrus.svg?-be8axl#walrus") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:focus, input:focus {
  outline: 0; }

a {
  text-decoration: none; }

a:link, a:visited, a:hover, a:active {
  color: #000; }

/* vars */
/* Icon font */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'walrus';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 35px;
  vertical-align: middle;
  color: #5bcaf5;
  font-size: 35px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-template:before {
  content: "\e600"; }

.icon-skeleton:before {
  content: "\e601"; }

.icon-role:before {
  content: "\e602"; }

.icon-redbean:before {
  content: "\e603"; }

.icon-pull:before {
  content: "\e604"; }

.icon-file:before {
  content: "\e605"; }

.icon-cli:before {
  content: "\e606"; }

.icon-ajax:before {
  content: "\e607"; }

/* Body */
body {
  font-family: 'Source Sans Pro', 'Arial'; }

.clear {
  clear: both; }

/* Container */
.container {
  width: 1000px;
  margin: auto; }

/* Menu */
#menu {
  height: 80px;
  border-bottom: 1px solid #d8e0e2; }
  #menu img {
    display: inline-block;
    float: left; }
  #menu h1 {
    display: none; }
  #menu ul {
    display: inline;
    float: right; }
    #menu ul li {
      float: left;
      padding: 0 25px;
      line-height: 80px;
      font-weight: 300;
      font-size: 20px; }
      #menu ul li a {
        color: #42535a; }

/* Head */
#head {
  margin-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  border-bottom: 1px solid #d8e0e2; }
  #head h1 {
    font-size: 64px;
    font-weight: 200;
    text-transform: uppercase;
    color: #5bcaf5;
    margin-bottom: 30px; }
  #head p {
    color: #42535a;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 90px; }
  #head #head-links a {
    width: 225px;
    display: inline-block;
    background-color: #5bcaf5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0;
    border-radius: 3px; }
    #head #head-links a:first-child {
      margin-right: 25px; }

/* Features */
#features {
  background-color: #f5fafd;
  padding-bottom: 90px; }
  #features .h2 {
    font-weight: 200;
    font-size: 40px;
    color: #42535a;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 100px; }
    #features .h2 h2 {
      display: inline; }
  #features .feature {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    min-height: 153px;
    margin-right: 29px; }
    #features .feature.last {
      margin-right: 0; }
    #features .feature h4 {
      color: #42535a;
      font-size: 18px;
      font-weight: 600;
      text-indent: -7px; }
    #features .feature p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px;
      color: #828689;
      min-height: 100px; }
  #features .break {
    height: 70px; }

/* Footer */
#footer {
  height: 75px;
  background-color: #42535a;
  color: #abb8be;
  text-transform: uppercase; }
  #footer .copy {
    font-size: 12px;
    display: inline-block;
    line-height: 75px;
    float: left; }
  #footer ul {
    display: inline;
    float: right; }
    #footer ul li {
      font-size: 10px;
      float: left;
      line-height: 75px; }
      #footer ul li a {
        color: #abb8be;
        padding: 0 20px; }

/* Documentation */
#sidebar {
  display: inline-block;
  width: 200px;
  border-right: 1px solid #d8e0e2;
  border-left: 1px solid #d8e0e2;
  text-indent: 20px;
  padding-bottom: 50px;
  float: left; }
  #sidebar .beta {
    color: #ff4050;
    font-weight: 600;
    display: block;
    text-indent: 20px;
    margin-top: 5px; }
  #sidebar #change-version {
    padding-top: 50px; }
    #sidebar #change-version h1 {
      color: #42535a;
      font-size: 24px;
      font-weight: 300;
      display: inline; }
    #sidebar #change-version select {
      height: 20px; }
  #sidebar h4, #sidebar span.h4 {
    color: #42535a;
    font-size: 24px;
    font-weight: 300;
    padding: 50px 0 20px 0;
    display: block; }
  #sidebar ul li {
    line-height: 25px;
    color: #828689;
    cursor: pointer; }
    #sidebar ul li:hover {
      color: #000; }

#doc-content {
  width: 758px;
  padding: 50px 20px;
  float: right;
  display: inline-block; }
  #doc-content h5 {
    font-weight: 600;
    font-size: 40px;
    color: #42535a;
    padding-bottom: 30px;
    padding-top: 10px; }
    #doc-content h5:first-child {
      padding-top: 0; }
  #doc-content h6 {
    font-weight: 500;
    font-size: 26px;
    color: #42535a;
    padding-top: 10px;
    padding-bottom: 30px; }
    #doc-content h6:first-child {
      padding-top: 0; }
  #doc-content p {
    padding-bottom: 30px;
    line-height: 20px; }
  #doc-content .bold {
    font-weight: 600;
    font-size: 17px;
    color: #42535a; }
  #doc-content .italic {
    font-style: italic; }
  #doc-content .new {
    color: #40bd4b; }
  #doc-content ul {
    padding: 20px 0 20px 20px;
    list-style: circle; }
    #doc-content ul li {
      line-height: 20px; }
      #doc-content ul li span.ul-title {
        font-weight: 600;
        color: #42535a; }
        #doc-content ul li span.ul-title:after {
          content: ':'; }
  #doc-content .syntaxhighlighter {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    padding-bottom: 30px; }
  #doc-content a {
    text-decoration: underline;
    color: #42535a; }
  #doc-content #changelog p.title {
    border-bottom: 2px solid #d8e0e2;
    border-left: 2px solid #d8e0e2;
    font-weight: 600;
    font-size: 30px;
    color: #42535a;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 10px;
    margin-bottom: 30px; }

.container.releases {
  margin-top: 100px;
  padding-bottom: 100px; }
  .container.releases p.title {
    color: #42535a;
    font-size: 40px;
    margin-bottom: 30px; }
    .container.releases p.title > span {
      color: #5bcaf5;
      display: inline-block;
      font-size: 30px;
      text-indent: 20px; }
  .container.releases .gauge {
    padding-left: 100px;
    height: 90px;
    background-color: #d8e0e2;
    position: relative; }
    .container.releases .gauge .fill {
      color: #333;
      vertical-align: middle; }
      .container.releases .gauge .fill.issues {
        height: 60px;
        width: 0;
        background-color: #40bd4b; }
        .container.releases .gauge .fill.issues + .txt {
          height: 60px;
          margin-top: -60px;
          line-height: 60px;
          padding-bottom: 3px;
          margin-bottom: -4px; }
      .container.releases .gauge .fill.time {
        height: 30px;
        width: 0;
        line-height: 30px;
        background-color: #288ad2; }
        .container.releases .gauge .fill.time + .txt {
          height: 30px;
          margin-top: -30px;
          line-height: 30px; }
      .container.releases .gauge .fill + .txt > .left {
        float: left;
        margin-left: -100px;
        text-indent: 20px;
        background-color: #fff;
        width: 100px;
        font-weight: 700;
        color: #333;
        font-size: 18px; }
      .container.releases .gauge .fill + .txt > .right {
        float: right;
        margin-right: 20px; }
    .container.releases .gauge .gauge-border {
      padding-left: 100px;
      border-bottom: 1px solid #919699; }
  .container.releases #previous {
    margin: 100px 0; }
    .container.releases #previous .release .left {
      height: 60px;
      float: left;
      min-width: 200px;
      padding-right: 40px;
      margin-right: 40px;
      border-right: 1px solid #d8e0e2;
      text-align: right; }
      .container.releases #previous .release .left .tag {
        font-size: 22px;
        padding-right: 10px;
        margin-bottom: 15px;
        font-weight: bold; }
      .container.releases #previous .release .left .type {
        color: #fff;
        font-weight: bold;
        padding: 5px 10px;
        background-color: #f49f0b;
        display: inline-block;
        border-radius: 15px; }
    .container.releases #previous .release .right {
      float: left; }
      .container.releases #previous .release .right .name {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 15px; }
      .container.releases #previous .release .right ul li {
        float: left; }
        .container.releases #previous .release .right ul li:first-child {
          float: left;
          padding: 5px 10px 0 0; }
        .container.releases #previous .release .right ul li a {
          background-color: #d8e0e2;
          display: inline-block;
          border-radius: 15px;
          padding: 5px 10px;
          margin-right: 10px;
          font-weight: bold;
          color: #fff; }
