@font-face {
  font-family: 'walrus';
  src:url('../fonts/walrus.eot?-be8axl');
  src:url('../fonts/walrus.eot?#iefix-be8axl') format('embedded-opentype'),
  url('../fonts/walrus.woff?-be8axl') format('woff'),
  url('../fonts/walrus.ttf?-be8axl') format('truetype'),
  url('../fonts/walrus.svg?-be8axl#walrus') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

//Meyer CSS reset
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;
vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,
q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}textarea:focus, input:focus{outline: 0;}
a{text-decoration:none;}a:link, a:visited, a:hover, a:active {color: #000;}

/* vars */
$border: #d8e0e2;
$font-menu: #42535a;
$font-blue: #5bcaf5;
$font-light: #828689;
$font-footer: #abb8be;
$font-green: #40bd4b;

/* Icon font */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'walrus';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 35px;
  vertical-align: middle;
  color: $font-blue;
  font-size: 35px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-template:before {
  content: "\e600";
}
.icon-skeleton:before {
  content: "\e601";
}
.icon-role:before {
  content: "\e602";
}
.icon-redbean:before {
  content: "\e603";
}
.icon-pull:before {
  content: "\e604";
}
.icon-file:before {
  content: "\e605";
}
.icon-cli:before {
  content: "\e606";
}
.icon-ajax:before {
  content: "\e607";
}

/* Body */
body {
  font-family: 'Source Sans Pro', 'Arial';
}
.clear {
  clear: both;
}

/* Container */
.container {
  width: 1000px;
  margin: auto;
}

/* Menu */
#menu {
  height: 80px;
  border-bottom: 1px solid $border;
  img {
    display: inline-block;
    float: left;
  }
  h1 {
    display: none;
  }
  ul {
    display: inline;
    float: right;
    li {
      float: left;
      padding: 0 25px;
      line-height: 80px;
      font-weight: 300;
      font-size: 20px;
      a {
        color: $font-menu;
      }
    }
  }
}

/* Head */
#head {
  margin-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  border-bottom: 1px solid $border;
  h1 {
    font-size: 64px;
    font-weight: 200;
    text-transform: uppercase;
    color: $font-blue;
    margin-bottom: 30px;
  }
  p {
    color: $font-menu;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 90px;
  }
  #head-links {
    a {
      width: 225px;
      display: inline-block;
      background-color: $font-blue;
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 20px 0;
      border-radius: 3px;
      &:first-child {
        margin-right: 25px;
      }
    }
  }
}

/* Features */
#features {
  background-color: #f5fafd;
  padding-bottom: 90px;
  .h2 {
    font-weight: 200;
    font-size: 40px;
    color: $font-menu;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 100px;
    h2 {
      display: inline;
    }
  }
  .feature {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    min-height: 153px;
    margin-right: 29px;
    &.last {
      margin-right: 0;
    }
    h4 {
      color: $font-menu;
      font-size: 18px;
      font-weight: 600;
      text-indent: -7px;
    }
    p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px;
      color: $font-light;
      min-height: 100px;
    }
  }
  .break {
    height: 70px;
  }
}

/* Footer */
#footer {
  height: 75px;
  background-color: $font-menu;
  color: $font-footer;
  text-transform: uppercase;
  .copy {
    font-size: 12px;
    display: inline-block;
    line-height: 75px;
    float: left;
  }
  ul {
    display: inline;
    float: right;
    li {
      font-size: 10px;
      float: left;
      line-height: 75px;
      a {
        color: $font-footer;
        padding: 0 20px;
      }
    }
  }
}


/* Documentation */
#sidebar {
  display: inline-block;
  width: 200px;
  border-right: 1px solid $border;
  border-left: 1px solid $border;
  text-indent: 20px;
  padding-bottom: 50px;
  float: left;
  .beta {
    color: #ff4050;
    font-weight: 600;
    display: block;
    text-indent: 20px;
    margin-top: 5px;
  }
  #change-version {
    padding-top: 50px;
    h1 {
      color: $font-menu;
      font-size: 24px;
      font-weight: 300;
      display: inline;
    }
    select {
      height: 20px;
    }
  }
  h4, span.h4 {
    color: $font-menu;
    font-size: 24px;
    font-weight: 300;
    padding: 50px 0 20px 0;
    display: block;
  }
  ul {
    li {
      line-height: 25px;
      color: $font-light;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
  }
}
#doc-content {
  width: 758px;
  padding: 50px 20px;
  float: right;
  display: inline-block;
  h5 {
    font-weight: 600;
    font-size: 40px;
    color: $font-menu;
    padding-bottom: 30px;
    padding-top: 10px;
    &:first-child {
      padding-top: 0;
    }
  }
  h6 {
    font-weight: 500;
    font-size: 26px;
    color: $font-menu;
    padding-top: 10px;
    padding-bottom: 30px;
    &:first-child {
      padding-top: 0;
    }
  }
  p {
    padding-bottom: 30px;
    line-height: 20px;
  }
  .bold {
    font-weight: 600;
    font-size: 17px;
    color: $font-menu;
  }
  .italic {
    font-style: italic;
  }
  .new {
    color: $font-green;
  }
  ul {
    padding: 20px 0 20px 20px;
    list-style: circle;
    li {
      line-height: 20px;
      span.ul-title {
        font-weight: 600;
        color: $font-menu;
        &:after {
          content: ':';
        }
      }
    }
  }
  .syntaxhighlighter {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    padding-bottom: 30px;
  }
  a {
    text-decoration: underline;
    color: $font-menu;
  }
  #changelog {
    p.title {
      border-bottom: 2px solid #D8E0E2;
      border-left: 2px solid #D8E0E2;
      font-weight: 600;
      font-size: 30px;
      color: $font-menu;
      padding-bottom: 10px;
      padding-top: 10px;
      text-indent: 10px;
      margin-bottom: 30px;
    }
  }
}