@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
@font-face {
  font-family: 'walrus';
  src: url("../fonts/walrus.eot?-be8axl");
  src: url("../fonts/walrus.eot?#iefix-be8axl") format("embedded-opentype"), url("../fonts/walrus.woff?-be8axl") format("woff"), url("../fonts/walrus.ttf?-be8axl") format("truetype"), url("../fonts/walrus.svg?-be8axl#walrus") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:focus, input:focus {
  outline: 0; }

a {
  text-decoration: none; }

a:link, a:visited, a:hover, a:active {
  color: #000; }

/* vars */
/* Icon font */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'walrus';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 35px;
  vertical-align: middle;
  color: #5bcaf5;
  font-size: 35px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-template:before {
  content: "\e600"; }

.icon-skeleton:before {
  content: "\e601"; }

.icon-role:before {
  content: "\e602"; }

.icon-redbean:before {
  content: "\e603"; }

.icon-pull:before {
  content: "\e604"; }

.icon-file:before {
  content: "\e605"; }

.icon-cli:before {
  content: "\e606"; }

.icon-ajax:before {
  content: "\e607"; }

/* Body */
body {
  font-family: 'Source Sans Pro', 'Arial'; }

.clear {
  clear: both; }

/* Container */
.container {
  width: 1000px;
  margin: auto; }

/* Menu */
#menu {
  height: 80px;
  border-bottom: 1px solid #d8e0e2; }
  #menu img {
    display: inline-block;
    float: left; }
  #menu h1 {
    display: none; }
  #menu ul {
    display: inline;
    float: right; }
    #menu ul li {
      float: left;
      padding: 0 25px;
      line-height: 80px;
      font-weight: 300;
      font-size: 20px; }
      #menu ul li a {
        color: #42535a; }

/* Head */
#head {
  margin-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  border-bottom: 1px solid #d8e0e2; }
  #head h1 {
    font-size: 64px;
    font-weight: 200;
    text-transform: uppercase;
    color: #5bcaf5;
    margin-bottom: 30px; }
  #head h4 {
    color: #42535a;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 90px; }
  #head #head-links a {
    width: 225px;
    display: inline-block;
    background-color: #5bcaf5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0;
    border-radius: 3px; }
    #head #head-links a:first-child {
      margin-right: 25px; }

/* Features */
#features {
  background-color: #f5fafd;
  padding-bottom: 90px; }
  #features .h2 {
    font-weight: 200;
    font-size: 40px;
    color: #42535a;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 100px; }
  #features .feature {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    min-height: 153px;
    margin-right: 29px; }
    #features .feature.last {
      margin-right: 0; }
    #features .feature h4 {
      color: #42535a;
      font-size: 18px;
      font-weight: 600;
      text-indent: -7px; }
    #features .feature p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px;
      color: #828689;
      min-height: 100px; }
  #features .break {
    height: 70px; }

/* Footer */
#footer {
  height: 75px;
  background-color: #42535a;
  color: #abb8be;
  text-transform: uppercase; }
  #footer .copy {
    font-size: 12px;
    display: inline-block;
    line-height: 75px;
    float: left; }
  #footer ul {
    display: inline;
    float: right; }
    #footer ul li {
      font-size: 10px;
      float: left;
      line-height: 75px; }
      #footer ul li a {
        color: #abb8be;
        padding: 0 20px; }

/* Documentation */
#sidebar {
  display: inline-block;
  width: 200px;
  border-right: 1px solid #d8e0e2;
  border-left: 1px solid #d8e0e2;
  text-indent: 20px;
  padding-bottom: 50px;
  float: left; }
  #sidebar h4 {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    padding: 50px 0 20px 0; }
  #sidebar ul li {
    line-height: 25px;
    color: #828689;
    cursor: pointer; }
    #sidebar ul li:hover {
      color: #000; }

#doc-content {
  width: 758px;
  padding: 50px 20px;
  float: right;
  display: inline-block; }
  #doc-content h5 {
    font-weight: 600;
    font-size: 40px;
    color: #42535a;
    padding-bottom: 30px;
    padding-top: 10px; }
    #doc-content h5:first-child {
      padding-top: 0; }
  #doc-content h6 {
    font-weight: 500;
    font-size: 26px;
    color: #42535a;
    padding-top: 10px;
    padding-bottom: 30px; }
    #doc-content h6:first-child {
      padding-top: 0; }
  #doc-content p {
    padding-bottom: 30px;
    line-height: 20px; }
  #doc-content .bold {
    font-weight: 600;
    font-size: 17px;
    color: #42535a; }
  #doc-content ul {
    padding: 20px 0 20px 20px;
    list-style: circle; }
    #doc-content ul li {
      line-height: 20px; }
  #doc-content .syntaxhighlighter {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    padding-bottom: 30px; }
